#   Version 7.2.4.2
# CAUTION: Do not alter the settings in workload_pools.conf unless you know what you are doing.
# Improperly configured workloads may result in splunkd crashes and/or memory overuse.

[general]
enabled = false
default_pool = pool_1
ingest_pool = pool_2
workload_pool_base_dir_name = splunk

[workload_pool:pool_1]
cpu_weight = 40
mem_weight = 40

[workload_pool:pool_2]
cpu_weight = 30
mem_weight = 30

[workload_pool:pool_3]
cpu_weight = 20
mem_weight = 20

[workload_pool:pool_4]
cpu_weight = 10
mem_weight = 10
